name: Run main script

on:
  workflow_dispatch:
    inputs:
      job_description:
        description: 'Descripci칩n del trabajo a buscar'
        required: false
      location:
        description: 'Locaci칩n a buscar el trabajo'
        required: false

  schedule:
    - cron: '0 0 * * 6' # Viernes a las 7 PM UTC-5

jobs:
  run-script:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Definir variables de entorno
        run: |
          if [ -n "${{ github.event.inputs.job_description }}" ]; then
            echo "JOB_DESCRIPTION=${{ github.event.inputs.job_description }}" >> $GITHUB_ENV
          fi
          if [ -n "${{ github.event.inputs.location }}" ]; then
            echo "LOCATION=${{ github.event.inputs.location }}" >> $GITHUB_ENV
          fi

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar main script
        run: python main.py

      - name: Generar body para el correo
        run: python generate_html.py

      - name: Obtener el resultado csv m치s reciente
        id: get-latest
        run: |
          csv_file=$(find results -type f -name "*.csv" -printf "%T@ %p\n" | sort -nr | head -1 | cut -d' ' -f2-)
          csv_name=$(basename "$csv_file")
          echo "csv_file=$csv_file" >> $GITHUB_OUTPUT
          echo "csv_name=$csv_name" >> $GITHUB_OUTPUT

      - name: Enviar correo
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.MAIL }}
          password: ${{ secrets.PASS }}
          subject: "Github Actions - LinkedIn Job Results: ${{ steps.get-latest.outputs.csv_name }}"
          html_body: file://results/email_body.html
          attachments: ${{ steps.get-latest.outputs.csv_file }}
          from: "GitHub Actions <${{ secrets.MAIL }}>"
          to: ${{ secrets.MAIL }}

      - name: Hacer commit y push de archivos generados
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Nuevos resultados con GitHub Actions
          branch: main
          commit_user_name: Franco Mari침o [Actions]
          commit_user_email: ${{ secrets.MAIL }}
          commit_author: fmarinoa <${{ secrets.MAIL }}>

      - name: Cargar ofertas a la base de datos
        run: python load_offers_to_db.py
