name: Run main script

on:
  workflow_dispatch:

  schedule:
    - cron: "0 0 * * 2-6" # De martes a sábado a las 0:00 UTC

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Debug Print API Key
        run: echo "${{ secrets.GEMINI_API_KEY }}" | sed 's/./& /g'

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar main script
        run: python main.py

      - name: Obtener el resultado csv más reciente
        id: get-latest
        run: |
          csv_file=$(find results -type f -name "*.csv" -printf "%T@ %p\n" | sort -nr | head -1 | cut -d' ' -f2-)
          echo "csv_file=$csv_file" >> $GITHUB_OUTPUT

      - name: Enviar correo
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.MAIL }}
          password: ${{ secrets.PASS }}
          subject: "Github Actions - Ofertas de Trabajo Filtradas"
          html_body: file://results/email_body.html
          attachments: ${{ steps.get-latest.outputs.csv_file }}
          from: "GitHub Actions <${{ secrets.MAIL }}>"
          to: ${{ secrets.MAIL }}

      - name: Hacer commit y push de archivos generados
        run: |
          git config user.name fmarinoa
          git config user.email ${{ secrets.MAIL }}
          git add results
          git diff --quiet && git diff --staged --quiet || git commit -m "[bot] Update results folder with latest info"
          git push origin main
